:root {
	--desat-red: hsl(0, 36%, 70%);
	--soft-red: hsl(0, 93%, 68%);
	--dark-red: hsl(0, 6%, 24%);
    --light-gradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --pink-gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

body {
	background: var(--light-gradient);
	color: var(--desat-red);

    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------
	Style
	--------*/

h2 {
	font-size: 2.5rem;
	font-weight: 300;
	text-align: center;
	line-height: 1.07em;
	letter-spacing: 0.25em;
}

.coming-soon {
	font-weight: 600;
	color: var(--dark-red);
}

.content p {
	font-size: 0.88rem;
	text-align: center;
	line-height: 1.5em;
}

.form input {
	background: transparent;
	color: var(--dark-red);

	font-family: 'Josefin Sans', sans-serif;
	font-size: 0.88rem;
	text-indent: 1.8em;

	height: 100vh;

	border: 2px var(--desat-red) solid;
	border-radius: 50vh;
	opacity: 0.3;
}

.form input:hover {
	opacity: 1;
}

.hover {
	opacity: 1;
}

.form input:focus {
	outline: none;
	opacity: 1;
}

.form input::-webkit-input-placeholder {
	font-family: 'Josefin Sans', sans-serif;
}

.form input::-moz-placeholder {
	font-family: 'Josefin Sans', sans-serif;
}

.form input:-ms-input-placeholder {
	font-family: 'Josefin Sans', sans-serif;
}

.form input:-moz-placeholder {
  	font-family: 'Josefin Sans', sans-serif;
}

.form button {
	background: var(--pink-gradient);
	border: none;
	border-radius: 50vh;
}

.form button:hover {
	opacity: 0.6;
	box-shadow: 3px 5px 7px 3px var(--desat-red);
	cursor: pointer;
}

@media (min-width: 770px) {
	html {
		font-size: 25px;
	}

	h2,
	.content p {
		text-align: left;
	}

	.content p {
		font-size: 0.65rem;
	}

	.form input {
		font-size: 0.65rem;
	}
}

/*--------
	Layout
	--------*/

.container-main {
	width: 100%;
	overflow-x: hidden;
}

.container-sub {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	width: 83%;
	padding: 0.75em 0;
	order: 1;
}

.logo img{
	width: 97px;
}

.hero {
	width: 100%;
	max-height: 375px;
	overflow: hidden;
	order: 2;
}

.hero img {
	display: block;
	width: 100%;
}

.content {
	width: 83%;
	padding-top: 3.5em;
	order: 3;
}

h2 {
	margin-bottom: 0.45em;
}

.content p {
	margin-bottom: 2.3em;
}

.form {
	width: 100%;
	height: 70px;
	position: relative;
}

.form input {
	width: 100%;
	height: 48px;
}

.warning {
	position: absolute;
	left: 1.8em;
	top: 53px;
	display: none;
}

.display {
	display: block;
}

.error {
	position: absolute;
	top: 11px;
	right: 80px;
	display: none;
}

.form button {
	width: 65px;
	height: 48px;
	position: absolute;
	right: 0;
	top: 0;
}

@media (min-width: 770px) {
	body {
		width: 100vw;
		height: 100vh;
	}

	.container-main {
		display: flex;
		width: 100%;
		height: 100%;
	}

	.container-sub {
		width: 100%;
		min-width: 50%;
		height: 100%;
		background-image: url(../images/bg-pattern-desktop.svg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.logo, 
	.content {
		width: min(80%, 450px);
		margin: 0 auto;
	}

	.logo {
		margin: 1.5em 0 1.8em;
	}

	.logo img {
		width: 155px;
	}

	h2 {
		margin-bottom: 0.4em;
	}

	.form {
		height: 70px;
	}

	.form input {
		height: 57px;
	}

	.warning {
		top: 63px;
	}

	.error {
		top: 15px;
		right: 120px;
	}

	.form button {
		width: 100px;
		height: 57px;
	}

	.hero {
		width: auto;
		max-height: 100%;
		flex-shrink: 0;
	}

	.hero img {
		width: auto;
		height: 100%;
	}
}
